/*Asterisk wildcard selector to override default styles aded by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-color: lightcoral;
}

/* Main styling */
main {
    background-color: blue;
}

/* Footer styling */
footer {
    background-color: green;
}